html, body {
  color: black;
  height: 3000px;
  width: 100%;
  font-family: DM mono, monospace;
  background: linear-gradient(45deg, #ffeff4, #ffe0e9, #ffc0cb, #b38693);
    overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;


  line-height: 1.45;
}

.nagivationBar {
  width: 100%;
  object-fit: cover;
  background-color: black;
  font-style: bold;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
}

button {
  font-family: DM mono, monospace;
  color: #b0cae5;
  background: transparent;
  margin: 10px;
  height: 90px;
  width: 150px;
  border: none;
  display: flex;
  flex-wrap: wrap;
  padding-top: 35px;
  font-size: 20px;
}
.pageLink{
  text-decoration: none;
  color: white;
  transition-duration: 0.5s; 
}

.pageLink:hover{
  background: white;
  color: #ffc0cb;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
}

.top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

.webTitle {
  display: flex;
  justify-content: flex-start;
  font-family: dm mono, monospace;
  color: white;
  font-size: 35px;
  text-shadow: 0 0 5px #fff, 0 0 7.5px#ffc0cb, 0 0 10px #ffc0cb, 0 0 12.5px #ffc0cb, 0 0 15px#ffc0cb, 0 0 17.5px #ffc0cb, 0 0 20px #ffc0cb;
  padding-right: 30px;
  align-items:center;
  }

.dropdown {
  position: relative;
  display: inline-block;
  transition-duration: 0.5s;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffeff4;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

.wrapper {
  max-width: 450px;
  box-sizing: border-box;
  margin: auto;
  padding: 0;
  background-color: rgba(255,255,255,.1);
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgba(255,255,255,.2);
  border-right: 1px solid rgba(255,255,255,.2);
}

form {
  flex: 5;
  display: block;
  padding: 15px;
}
.text-box {
  font-size: 16px;
  display: flex;
  width: 100%;
}
.dropbtn:hover{
  background: white;
  color: #ffc0cb;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
}

.dropbtn {
  color: white;
  display: flex;
  align-items: center;
  margin-bottom:37px;
  transition-duration: 0.5s;
  text-decoration: none;
}

.title {
  font-size: 125px;
  display: flex;
  justify-content: center;
  color: white;
}


* {
  box-sizing: border-box;
}

html {
	height: 100%;

}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background-color: rgba(223, 242, 247, .5);
	height: 100%;
	margin: 0;
}

span {
	padding-right: 15px;
	padding-left: 15px;
}

.container {
	display: flex;
  justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.chat {
	height: 300px;
	width: 50vw;
	display: flex;
	flex-direction: column;
  justify-content: center;
	align-items: center;
} 

::-webkit-input-placeholder { 
	color: .711 
}
 
input { 
	border: 0; 
	padding: 15px; 
	margin-left: auto;
	border-radius: 10px; 
}

.messages {
	display: flex;
	flex-direction: column;
	overflow: scroll;
	height: 90%;
	width: 100%;
	background-color: white;
	padding: 15px;
	margin: 15px;
	border-radius: 10px;
  border-color: pink;
  color: black;
}

#bot {
	margin-left: auto;
}

.bot {
	font-family: DM mono,  
	monospace;
}

.avatar {
	height: 25px;
}

.response {
	display: flex;
	align-items: center;
	margin: 1%;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #ffc0cb;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ffeff4;
  padding: 10px;
  border-radius: 20px;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  padding: 10px;
  border-radius: 20px;
}
